<!-- <div style="text-align:center">
<div class="">
  <ul>
    <li *ngFor="let detailleInfo of mynewservice.descriptionTab">{{detailleInfo[mynewservice.descriptionTab]}}</li>
  </ul>
</div>
</div> -->

<!-- <div style="text-align:center">
  <div *ngFor="let detailleInfo of mynewservice.descriptionTab">{{detailleInfo}}{{mynewservice.descriptionResults[detailleInfo]}}
  </div>
</div> -->

<div class="">
<table style="text-align:left">
  <thead>
  </thead>
  <tbody *ngFor="let detailleInfo of mynewservice.descriptionTab">
  <th>{{detailleInfo}}</th>
  <th>{{mynewservice.descriptionResults[detailleInfo]}}</th>
  </tbody>
</table>
</div>
